<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>Document</title>
	  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	
</head>
<body>

    <div id="app">
		<p v-if="nota === 'A' ">Rarabéns, você tirou um "A"!</p>
		<p v-else-if="nota === 'B' ">Voce Tirou um "B", mas pode melhorar</p>
		<p v-else-if="nota === 'C' ">Você Precisa melhorar, estude mais. Sua nota: "C"</p>
		<p v-else>Nota ainda não publicada.</p>
		<input v-model="nota" placeholder="Nota">
	</div>


  	<script >

		var app = new Vue({
			el: '#app',
			data:{
				nota: ''
			},
			
		});
		
  	</script>
	
</body>
</html>