<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  	<title>Document</title>
</head>
<body>

    <div id="app">
		<ul>
			<li v-for="produto in produtos">{{produto.nome}}</li>
		</ul>
		<br>
		<ul>
			<li v-for="produto in produtos" :key="produto.id">{{produto.nome}}</li>
		</ul>

		<button @click="produtos.reverse()">Inverter Lista</button>
		<button @click="addProduto">Add Produto</button>
	</div>


  	<script >

		var app = new Vue({
		el: '#app',
		data:{
			produtos:[
				{id:1, nome: 'Monitor'},
				{id:2, nome: 'Teclado'},
				{id:3, nome: 'Mouse'},
				{id:4, nome: 'Processador'},
			]
		},
		methods: {
			addProduto: function(){
				var id = this.produtos.length + 1;
				this.produtos.push({id: id, nome: 'Produto' + id});
			}
		},

		});
		
  	</script>

</body>
</html>