<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  	<title>Document</title>
</head>
<body>

    <div id="app1">
		<h3 v-if="mostrarMensagem">Título Alterado!</h3>
		<p>Título: {{titulo}}</p>
		<p>Título: {{tituloLowerCase}}</p>
		<input v-model="novoTitulo">
		<button @click="alterarTitulo">Alterar titulo</button>
	</div>

	<div id="app2">
		<p>Título: {{titulo}}</p>
		<button @click="alterarTitulo">Alterar Título</button>
	</div>


  	<script >

		var vm1 = new Vue({
		el: '#app1',
		data:{
			titulo: 'Instância Vue 1',
			novoTitulo: '',
			mostrarMensagem: false,
		},
		methods: {
			alterarTitulo: function(){
				this.titulo = this.novoTitulo;
				this.novoTitulo = '';
			}
		},
		computed: {
			tituloLowerCase: function(){
				return this.titulo.toLowerCase().split(' '). join('-');
			}
		},
		watch: {
			titulo: function(novoTitulo, antigoTitulo){
				console.log(`Titulo alterado de: ${antigoTitulo} para ${novoTitulo}`);
				this.mostrarMensagem = true;
				var self = this;
				setTimeout(function(){
					self.mostrarMensagem = false;
				},3000);
			}
		}

		});
		
		var vm2 = new Vue({
			el: '#app2',
			data: {
				titulo: 'Instancia 2',
			},
			methods:{
				alterarTitulo: function(event){
					vm1.titulo = ' Curso de  Vue Js 1'
				}
			}
		});

  	</script>

</body>
</html>