<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  	<title>Document</title>
</head>
<body>

    <div id="app">
		<h3 v-if="mostrarMensagem">Título Alterado!</h3>
		<p>Título: {{titulo}}</p>
		<p>Título: {{tituloLowerCase}}</p>
		<input v-model="novoTitulo">
		<button @click="alterarTitulo">Alterar titulo</button>
	</div>


  	<script >

		var app = new Vue({
		el: '#app',
		data:{
			titulo: 'Instância Vue',
			novoTitulo: '',
			mostrarMensagem: false,
		},
		methods: {
			alterarTitulo: function(){
				this.titulo = this.novoTitulo;
				this.novoTitulo = '';
			}
		},
		computed: {
			tituloLowerCase: function(){
				return this.titulo.toLowerCase().split(' '). join('-');
			}
		},
		watch: {
			titulo: function(novoTitulo, antigoTitulo){
				console.log(`Titulo alterado de: ${antigoTitulo} para ${novoTitulo}`);
				this.mostrarMensagem = true;
				var self = this;
				setTimeout(function(){
					self.mostrarMensagem = false;
				},3000);
			}
		}

		});
		
  	</script>

</body>
</html>